<html data-ng-app="deviceApp">
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">

   <title>Device Admin</title>

   <head>
	   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	   <link href="stylesheet/sb-admin-2.css" rel="stylesheet">
	   <link href="stylesheet/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	   

	   <script src="javascript/jquery.js"></script>
	   <script src="javascript/bootstrap.min.js"></script>
	   <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	   <script src="javascript/angular-route.js"></script>
	   <script src="javascript/apiService.js"></script>
	   <script src="javascript/jstree/jquery.jstree.js"></script>
	   
	   <script language="javascript">
	   var deviceApp = angular.module('deviceApp',['ngRoute','ApiModule']);
	   
	    deviceApp.config(function($routeProvider){
		$routeProvider.when("/",{
			controller:'SimpleController',
			template:'<h1 class="page-header" id="channels_list_id">{{$root.content}}</h1>'
			})
			.when('/clientSettings',{
				controller:'clientSettings',
				templateUrl:'clientSettings.html'
			}).when('/interfaceSettings',{
				controller:'interfaceSettings',
				templateUrl:'interfaceSettings.html'
			})
			.when('/channels',{
				controller:'channelController',
				templateUrl:'channels.html'
			})
			.when('/clientBufferSettings',{
				controller:'bufferController',
				templateUrl:'bufferSettings.html'
				});
		});
   
	   deviceApp.controller('SimpleController',function($scope, apiService){
	   	$scope.$root.content = "Dashboard";
	   	$scope.serverStatus = "Start"
   		apiService.request({
			 apiMethod: "services/deMuxClient/getAppStatus",
			 httpMethod:"GET"
		}).success(function(response) {
				if(response == true)
					$scope.serverStatus= "Stop";
				else
					$scope.serverStatus= "Start";
		});
   		$scope.serverStatus="Stop";
	   	$scope.startServer = function(){
	   		apiService.request({
				 apiMethod: "services/deMuxClient/startApp",
				 httpMethod:"GET",
				 params:{state:$scope.serverStatus}
			}).success(function(response) {
					if(response == true)
						$scope.serverStatus="Stop";
					else
						$scope.serverStatus="Start";
					
			});
	   		$scope.serverStatus="Stop";
	   	}
	   });
	   deviceApp.controller('clientSettings',function($scope, apiService){
		   apiService.request({
				 apiMethod: "services/deMuxClient/clientSettings",
				 httpMethod:"GET"
			}).success(function(response) {
				$scope.serverIp = response.serverIP;
				$scope.serverPort = response.serverPort;
				$scope.updListenerPort = response.udpPort;
			});
		   	$scope.save = function(){
		   		var data = {
		   				"serverIP": $scope.serverIp,
		   				"serverPort": $scope.serverPort,
		   				"udpPort":$scope.updListenerPort
		   		}
		   		apiService.request({
                    httpMethod: "POST",
                    apiMethod:"services/deMuxClient/clientSettings",
                    params:data
				}).success(function(response) {
					console.log(response);
				});
		   	}
		});
	   
	   deviceApp.controller('interfaceSettings',function($scope, apiService){
		   apiService.request({
				httpMethod:"GET",
				apiMethod: "services/deMuxClient/list"
			}).success(function(response) {
				$scope.interfaces=[];
				angular.forEach(response, function(network){
					interface = {'displayName':network.displayName,'name':network.name,'status':network.status};
					angular.forEach(network.addrs, function(addr){
						if(addr.broadcast != null){
							interface.address = addr.address;
						}
					});
					$scope.interfaces.push(interface);
				});	
			});
		   $scope.interfaceApply = function(){
			   var data = [];
			   angular.forEach($scope.interfaces, function(network){
				   var req = {'name':network.name,'status':network.status+""};
				   data.push(req);
			   });
			   apiService.request({
					 apiMethod: "services/deMuxClient/updateChannels",
					 httpMethod:"POST",
					 params:data
				}).success(function(response) {
						alert("successfully updated...")
				});
		   }
		   
	   });
	   deviceApp.controller('channelController',function($scope, apiService){
			apiService.request({
				 apiMethod: "services/deMuxClient/channels",
				 httpMethod:"GET"
			}).success(function(response) {
					$scope.channel = response;
			});
			$scope.udpateChannels = function(){
			var data = { inputTCPChannel: $scope.channel.inputTCPChannel,
                        outputTCPChannel: $scope.channel.outputTCPChannel,
						inputUDPChannel: $scope.channel.inputUDPChannel,
                        outputUDPChannel: $scope.channel.outputUDPChannel,
						inputTCPChannelPort: $scope.channel.inputTCPChannelPort,
                        outputTCPChannelPort: $scope.channel.outputTCPChannelPort,
						inputUDPChannelPort: $scope.channel.inputUDPChannelPort,
                        outputUDPChannelPort: $scope.channel.outputUDPChannelPort,
						defaultBuffer_fetchGracePeriod: $scope.channel.defaultBuffer_fetchGracePeriod,
						defaultBuffer_bufferTime: $scope.channel.defaultBuffer_bufferTime,
						defaultBuffer_processMissingPackets: $scope.channel.defaultBuffer_processMissingPackets,
						maxBuffer_bufferTime: $scope.channel.maxBuffer_bufferTime,
						maxBuffer_fetchGracePeriod: $scope.channel.maxBuffer_fetchGracePeriod,
						maxBuffer_processMissingPackets: $scope.channel.maxBuffer_processMissingPackets
                    };
				apiService.request({
                    httpMethod: "POST",
                    apiMethod:"services/rtpSplitter/channels",
                    params:data
				}).success(function(response) {
					console.log(response);
				});
			}
	   });
	   
	   deviceApp.controller('bufferController',function($scope, apiService){
			apiService.request({
				 apiMethod: "services/deMuxClient/bufferSettings",
				 httpMethod:"GET"
			}).success(function(response) {
				$scope.bufferTime = response.bufferTime;
				$scope.gracePeriod = response.gracePeriod;
			});
			$scope.updateBufferSettings = function(){
			var data = { 
					bufferTime : $scope.bufferTime,
					gracePeriod : $scope.gracePeriod
                };
				apiService.request({
                    httpMethod: "POST",
                    apiMethod:"services/deMuxClient/bufferSettings",
                    params:data
				}).success(function(response) {
					console.log(response);
				});
			}
	   });

	   </script>
   </head>
   <body>
   		<div id="wrapper" data-ng-controller="SimpleController">

	        <!-- Navigation -->
	        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="index.html">Device Admin</a>
	            </div>
	            <!-- /.navbar-header -->

	            <ul class="nav navbar-top-links navbar-right">
	                <li class="dropdown">
	                	<input class="from-group form-control" type="button" ng-model="serverStatus" ng-value="serverStatus" ng-click="startServer()"/>
	                </li>
	                <!-- /.dropdown -->
	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-user">
	                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
	                        </li>
	                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
	                        </li>
	                        <li class="divider"></li>
	                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
	                        </li>
	                    </ul>
	                    <!-- /.dropdown-user -->
	                </li>
	                <!-- /.dropdown -->
	            </ul>
	            <!-- /.navbar-top-links -->

	            <div class="navbar-default sidebar" role="navigation">
	                <div class="sidebar-nav navbar-collapse">
	                    <ul class="nav" id="side-menu">
	                        <li><a href="#clientSettings">IP Settings</a></li>
	                         <li><a href="#interfaceSettings">Interface Settings</a></li>
	                         <li><a href="#clientBufferSettings">Buffer Settings</a></li>
	                    </ul>
	                </div>
	                <!-- /.sidebar-collapse -->
	            </div>
	            <!-- /.navbar-static-side -->
	        </nav>

	        <div id="page-wrapper">
	            <div class="row">
	                <div class="col-lg-12">
	                    <div data-ng-view></div>
	                </div>
	            </div>
	        </div>
    	</div>
	<body>
</html>