<div class="panel-body" id="serverInfo">
	<div class="row">
		<div class="col-sm-12 ">Server Connections Info</div>
		<div class="col-sm-12 ">
		<div class="col-lg-6" style="border:2px solid #ccc;margin:5px" ng-repeat="serverInfo in serverConnectionInfo"> 
			<div class="col-sm-5 " style="width:47.666667%">avarageSendTimeBetweenPackets</div><div class="col-sm-1 ">{{serverInfo.avarageSendTimeBetweenPackets}}</div>
			<div class="col-sm-5 " style="width:47.666667%">averageReceieveTimeBetweenPings</div><div class="col-sm-1 ">{{serverInfo.averageReceieveTimeBetweenPings}}</div>
			<div class="col-sm-5 " style="width:47.666667%">averageRecieveTimeBetweenPackets</div><div class="col-sm-1 ">{{serverInfo.averageRecieveTimeBetweenPackets}}</div>
			<div class="col-sm-5 " style="width:47.666667%">averageSendTimeBetweenPings</div><div class="col-sm-1 ">{{serverInfo.averageSendTimeBetweenPings}}</div>
			<div class="col-sm-5 " style="width:47.666667%">byesPerSecond</div><div class="col-sm-1 ">{{serverInfo.byesPerSecond}}</div>
			<div class="col-sm-5 " style="width:47.666667%">clientAddress</div><div class="col-sm-1 " ng-if="serverInfo.clientAddress == null"> &nbsp;</div><div class="col-sm-1 " ng-if="serverInfo.clientAddress != null"> {{serverInfo.clientAddress}}</div>
			<div class="col-sm-5 " style="width:47.666667%">clientInterface</div><div class="col-sm-1 " ng-if="serverInfo.clientInterface == null"> &nbsp;</div><div class="col-sm-1 " ng-if="serverInfo.clientInterface != null">{{serverInfo.clientInterface}}</div>
			<div class="col-sm-5 " style="width:47.666667%">packetCount</div><div class="col-sm-1 ">{{serverInfo.packetCount}}</div>
			<div class="col-sm-5 " style="width:47.666667%">pingPacketsPerSecond</div><div class="col-sm-1 ">{{serverInfo.pingPacketsPerSecond}}</div>
			<div class="col-sm-5 " style="width:47.666667%">pingRequestCount</div><div class="col-sm-1 ">{{serverInfo.pingRequestCount}}</div>
			<div class="col-sm-5 " style="width:47.666667%">totalBytesRecieved</div><div class="col-sm-1 ">{{serverInfo.totalBytesRecieved}}</div>
		</div>
		</div>
		<div class="col-sm-12 pull-right" >
			<select ng-model="graph_type">
				<option value="packets">Packets</option>
				<option value="missing_packets">Missing packets</option>
				<option value="buffer">Buffer</option>
			</select>
		</div>
		<div class="col-sm-12">
			<div id="drawGraph"></div>
		</div>
		<div class="col-sm-12">
			<table style="width:100%" class="table table-striped"><thead><tr><th>Interface</th><th>Packets</th><th>Missing Packets</th><th>Buffer</th></tr>
			<tbody>
				<tr ng-repeat="data in tableData">
					<td>{{data[0]}}</td>
					<td>{{data[1]}}</td>
					<td>{{data[2]}}</td>
					<td>{{data[3]}}</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>